# Ignora a pasta de dependências, pois elas serão instaladas dentro do contêiner
node_modules

# Ignora a pasta de saída do build, pois ela é gerada dentro do contêiner
dist

# Ignora arquivos de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignora arquivos de ambiente local, pois as variáveis devem ser configuradas no Railway
.env*

# Ignora o diretório do Git
.git
